* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-10: #00E4C0;
  --blue-20: #00BFD1;
  --blue-30: #0097DC;
  --blue-40: #006ED5;
  --blue-50: #0042B6;
  --blue-60: #000080;

  --gray: #F9EAFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
